@import "tailwindcss";

@layer base {

    #root {
        @apply min-h-screen flex flex-col
    }

    body {
        @apply bg-white dark:bg-gray-800
    }

    h1, h2, h3, header, nav, footer {
        @apply text-gray-900 dark:text-white font-medium tracking-tight
    }

    h1 {
        @apply text-2xl
    }

    h2 {
        @apply text-xl
    }

    h3 {
        @apply text-base
    }

    p, span, li {
        @apply text-gray-500 dark:text-gray-400 text-sm
    }

    input {
        @apply text-white text-base
    }
    
    .has-tooltip:hover > * {
        @apply visible z-50;
    }
    
    .tooltip {
        @apply invisible absolute p-1 left-0 bg-gray-700 pointer-events-none align-text-bottom rounded-sm max-w-72;
    }

    .tooltip-arrow {
        @apply invisible  absolute size-8 fill-gray-700 pointer-events-none 
    }
    
}

.tooltip {
    bottom: calc(100% + 10px);
}

.tooltip-arrow {
    bottom: calc(100% - 10px);
}

.currency-table {
    display: grid;
    grid-template-columns: 100px 1fr;
}


.input-nb::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-nb {
    -moz-appearance: textfield;
}